.app, .body, .header, .footer, .button, .center {
  display: flex;
}

.left, .right, .app, .header, .footer {
  flex: 1;
}

.header {
  background-color: pink;
  font-size: 1.5em;
}

.footer {
  background-color: gray;
  font-size: .7em;
}

.header, .footer, .center, .button {
  justify-content: center;
  align-items: center;
}

.left {
  background-color: red;
}

.center {
  background-color: green;
  width: 960px;
}

.right {
  background-color: blue;
}

.body {
  align-items: stretch;
  justify-content: center;
  flex: 13;
}

body {
  margin: 0;
}

div {
  color: rgba(0, 0, 0, .78);
}

.app {
  min-height: 100vh;
  flex-direction: column;
}

.button {
  width: 150px;
  height: 150px;
  font-size: 7em;
  background-color: white;
  border-radius: 76px;
  transition: background-color 1s, color 1s, transform 1s, translateY 2s;
}

.button:hover {
  background-color: purple;
  transform: scale3d(1.5, 1.5, 5);
  color: white;
  user-select: none;
  cursor: pointer;
  transition: translateY 2s, background-color: 1s, transform 1s;
}

.button:active {
  background-color: yellow;
  transition: background-color .5s, translateY 2s;
}
